:root {
    --verde-circulo: #7ECC5F;
    --verde-sidebar: #2D5C2F;
    --verde-opcoes-click: #3A7D44;
    --verde-profundo: #1B4D1F;
    --verde-topo: #C8E6A0;
    --verde-selecionar: #D4EDCC;
    --conteudo-fundo: #F4FBF0;
    --verde-dark: #0D1F0E;
    --verde-opcao: #153117;

}

