.content {
  display: flex;
  flex-direction: column;
}

.title {
  margin-top: 1.5em;
}

.acessos {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.content.hidden {
  display: none;
}

.top,
.bottom {
  display: flex;
  flex-direction: column;
  gap: 1em
}

.subtitle.content {
  background: none;
}

.funcao i {
  transform: scale(1.2);
  color: var(--verde-profundo);
}

.form-novo-registro {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  gap: 5em;
}

form input {
  background-color: var(--verde-input);
  padding: 1.5em;
  border: none;
  border-radius: 5px;
  width: 30em;
}

#novo-registro-content {
  background-color: var(--conteudo-fundo);
}
