.infosCima {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    padding: 30px;
}

.tempo {
    display: flex;
    gap: 20px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid darkgreen;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.329);
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(127, 255, 212, 0.226);
}

.content {
    padding: 50px;
    align-items: center;
    z-index: 10;
}

.infosTotal {
    display: flex;
    min-width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 18px;
    height: 87.2vh;
    z-index: 50;
    padding: 25px;
    overflow: auto;
}

#chart {
    min-width: 100%;
    align-items: center;
    justify-content: center;

}

.unidades{
    display:flex;
    width: 60%;
    min-width: 500px;
    padding: 10px;
    gap: 30px;
}
.unidades .separacao{
    display:flex;
    background-color: white;
    box-shadow: -4px 6px 10px rgba(0, 0, 0, 0.295);
    width: 100%;
    height: 100px;
    border-radius: 15px;
    border-left: 8px solid black;
    transition: all 0.1s linear;
    flex-direction: column;
    padding:15px;
    font-size: 14px;
    align-items:center;
    justify-content: center;
    padding-left: 5%;
    color: black;       
}
.separacao span{
    width: 100%;
   
}
.unidades .p{
    border-left: 8px solid rgb(1, 99, 1);
    border-bottom: 4px solid rgb(1, 99, 1)
}
.unidades .l{
   border-left: 8px solid rgb(211, 137, 0);
   border-bottom: 4px solid rgb(211, 137, 0)
}

.separacao:hover{
    transform: translateY(-10px);
    transition: all 0.1s linear;
    cursor: pointer;
}.numInfos span{
    font-size:2.5rem;
    
}
.numInfos{

    width: 100%;
}

#adubo,
#temp,
#vento,
#chuva {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px;

}

.analises {
    gap: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    height: 100%;
    align-items: center;
    background-color: azure;
}

.mediaClima {
    display: flex;
    width: 100%;
    background-color: yellow;
    box-shadow: 0 5px 40px black;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;

}

.climaSection {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    gap: 20px;


}
.h{
    padding: 0 !important;
}
canvas{
    width:50vw !important; 
}
.analise{
    max-width: 90%;
}

#temp,
#vento,
#chuva {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.295);
    width: 90%;
    background-color: white;
}

.in {
    display: flex;
    padding: 20px;
    min-width: 70%;
    align-items: center;
    justify-content: space-evenly;
    min-height: 30%;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.295);
    color: black;
    gap: 50px;
    margin-bottom: 50px;
}

.imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    font-size: 2.1rem;
}

.ses {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: lavender;
    border-radius: 20px;
    padding: 10px;
}

@media (max-width: 1000px) {
   .infosCima, .aduboAnalise,.in{
    width: 98%;
   }
   .climaSection{
    width: 100%;
   }
   .analises{
    min-width: 100%;
    background-color: rgba(3, 36, 3, 0.205);
   }
   canvas{
    min-width: 100%;
   }
   h4{
    font-size: 1.2rem;
   }
}
@media (max-width:676px) {
    .unidades{
        flex-direction: column;
        min-width: 100%;
    }
    .climaSection{
        width: 100%;
    }
    .climaSection .analises{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        transform: scale(1.05);
        overflow-y: auto
    }


}