/* tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 0.7em;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: fit-content;
  background-color: var(--verde-sidebar);
  color: var(--verde-selecionar);
  text-align: center;
  padding: 0.5em;
  border-radius: 4px;
  text-wrap: nowrap;
  margin: 0 4px 0 4px;

  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);

  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--verde-profundo) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
