.infosCima {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-around;
    padding: 30px;
}

.tempo {
    display: flex;
    gap: 20px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid darkgreen;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.329);
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(127, 255, 212, 0.226);
}

.content {
    padding: 50px;
    align-items: center;
    z-index: 10;
}

.infosTotal {
    display: flex;
    min-width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 18px;
    height: 87.2vh;
    z-index: 50;
    padding: 25px;
    overflow: auto;
}

#chart {
    min-width: 100%;
    align-items: center;
    justify-content: center;

}

.ganhoPerca,
.aduboAnalise {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: azure;
    padding: 20px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.329);
}

#adubo,
#temp,
#vento,
#chuva {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px;

}

.analises {
    gap: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    height: 100%;
    align-items: center;
    background-color: azure;
}

.mediaClima {
    display: flex;
    width: 100%;
    background-color: yellow;
    box-shadow: 0 5px 40px black;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;

}

.climaSection {
    display: flex;
    flex-direction: column;
    min-width: 80%;
    gap: 20px;

}

#temp,
#vento,
#chuva {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.295);
    width: 90%;
    background-color: white;
}

.in {
    display: flex;
    padding: 20px;
    min-width: 70%;
    align-items: center;
    justify-content: space-evenly;
    min-height: 30%;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.295);
    color: black;
    gap: 50px;
    margin-bottom: 50px;
}

.imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    font-size: 2.1rem;
}

.ses {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: lavender;
    border-radius: 20px;
    padding: 10px;
}

@media (max-width: 1000px) {
   .infosCima, .ganhoPerca, .aduboAnalise, .climaSection, .in{
    width: 98%;
   }
   h4{
    font-size: 1.2rem;
   }
}