
@import url("../global.css");

.tela{
    display: none;
    width: 100%;
    min-height:3 100vh;
    background:#68cfb7;
}
.tela.ativa{
    display: flex;
    flex-direction: column;
    padding:10px 60px;
    
    gap: 20px;
}