*{
    margin: none;
    padding:none;
    box-sizing:border-box;
}
main .content{
    display:none;
}
:root {
    --verde-circulo: #7ECC5F;
    --verde-sidebar: #2D5C2F;
    --verde-opcoes-click: #3A7D44;
    --verde-profundo: #1B4D1F;
    --verde-topo: #C8E6A0;
    --verde-selecionar: #D4EDCC;
    --conteudo-fundo: #F4FBF0;
    --verde-dark: #0D1F0E;
    --verde-opcao: #153117;

}

.acessos{
    display:flex;
    flex-direction: column;
    gap: 25px;
    align-items:center;
    justify-content:center;
    width: 100%;
    height: 100%;

}
.acessos .funcao{
    display:flex;
    align-items:center;
    justify-content: space-between;
    width: 80%;
    height: 15%;
    background: linear-gradient(to right, #C8E6A0, #7b977f);
    border-radius: 10px;
    border: none;
    padding: 50px;
    font-weight: 750;
    color:#0D1F0E;
    font-size: 1.5vw;

    box-shadow: 6px 5px rgba(22, 78, 14, 0.897);
    align-items:center;

}
.funcao i{
    transform: scaleX(1) scale(1.8);
}
.content{
    display:flex;
    flex-direction: column;
    padding: 15px;
}
main .validade{
    width: 100%;
    height: 87vh;

    display:flex;
    background-color: white;

}
.funcao:hover{
    cursor: pointer;
}