@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Oxanium:wght@200..800&display=swap');
*{
    margin: none;
    padding:none;
    box-sizing:border-box;
}
main .content{
    display:flex;
}
:root {
    --verde-circulo: #7ECC5F;
    --verde-sidebar: #2D5C2F;
    --verde-opcoes-click: #3A7D44;
    --verde-profundo: #1B4D1F;
    --verde-topo: #C8E6A0;
    --verde-selecionar: #D4EDCC;
    --conteudo-fundo: #F4FBF0;
    --verde-dark: #0D1F0E;
    --verde-opcao: #153117;

}

.acessos{
    display:flex;
    flex-direction: column;
    gap: 25px;
    align-items:center;
    justify-content:center;
    width: 100%;
    height: 100%;

}
.acessos .funcao{
    display:flex;
    align-items:center;
    justify-content: space-between;
    width: 80%;
    height: 15%;
    background: linear-gradient(to right, #C8E6A0, #7b977f);
    border-radius: 10px;
    border: none;
    padding: 50px;
    font-weight: 750;
    color:#0D1F0E;
    font-size: 1.5vw;

    box-shadow: 6px 5px rgba(22, 78, 14, 0.897);
    align-items:center;

}
.funcao i{
    transform: scaleX(1) scale(1.8);
}
.content{
    display:flex;
    flex-direction: column;
    padding: 15px;
}
main .validade{
    width: 100%;
    height: 87vh;
    display:none;
    background-color: white;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    padding:20px;
    position:relative;

}
.funcao:hover{
    cursor: pointer;
}

.toggle1{
    display:none !important;
}
.valMovimento{
    display: flex !important;
     width: 100%;
    height: 87vh;
    display:none;
    background-color: white;
}

.modelagem{
   display:flex;
   align-items:center;
   justify-content: space-evenly;
   width: 90%;
   height: 8%;
   font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  border-bottom: 1px solid black;
  padding:10px; 
}
.modelagem button{
    display:flex;
    background-color: white;
    width: 100px;
    height: 100%;
    align-items:center;
    justify-content:center;
    font-family: 'DM Sans', 'sans-serif';
    font-weight: 560;
    font-size: 1.1rem;
    border-radius: 20px;
}
.editar{
    border: 1px solid green;
    color: green;
    transition: all 0.3s linear; 
}
.excluir{
    border: 1px solid red;
    color: red;
    transition: all 0.3s linear; 
}
.editar:hover{
    transition: all 0.3s linear; 
    background-color: var(--verde-circulo);
    color: white;
    cursor: pointer;
}
.excluir:hover{
     transition: all 0.3s linear; 
    background-color:red;
    color: white;
    cursor: pointer;
}

.pesquisar{
    display:flex;
    width: 90%;
    align-items:center;
    justify-content:space-evenly;
    height: 8%;
    gap: 15px;
    border-bottom: 1px solid black; 
    padding:10px;
}
.pesquisar input{
    width: 100%;
    border: 1px solid black;
    outline: none;
    height: 80%;
    border-radius: 20px;
    padding:20px;
}
.novaSemente{
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: var(--verde-circulo);
     color: white;
     border-radius: 10px;
     width: 120px;
     height:40px;  
     font-family: 'DM Sans', 'sans-serif';
     border:none;
     font-weight:700;
     font-size:1.0001rem
}
.select{
    display:flex;
    width:40%;
    gap: 15px;
}
select{
    border-radius:10px;
}
.verificacao{
    display:flex;
    background-color:rgba(27, 94, 56, 0.377);
    width:90%;
    height:100%;
    align-items:center;
    justify-content:center;
}

.novaSemente:hover{
cursor: pointer;
}
.secao{
  display:flex;
  position: absolute;
  height:70vh;
  width: 500px;
  background-color: rgba(250, 250, 250, 0.5);
  z-index:10;
  right: 5vw;
  bottom: 2%;
  gap: 15px;
  padding:20px;
  flex-direction: column;
  font-family: 'DM Sans', 'sans-serif';
  font-weight:600
}

.pSuperior{
    display:flex;
    width: 100%;
    align-items:center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.registroSemente span{
    font-size: 1.3rem;
    font-weight:700;
    font-family: 'DM Sans', "sans-serif";
}
.NovoLote{
    display:flex;
    background-color: var(--verde-topo);
    padding:8px;
    border:none;
    border-radius: 20px;
    font-weight: 600;
    color: var(--verde-sidebar);
    font-family: 'DM Sans', 'sans-serif';
    transform: scale(0.8);
}
.tsem{
    display:flex;
    flex-direction: column;
}
.cad1{
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    padding-top: 20px;
    width:100%;
}
.va{
    display:flex;
    flex-direction:column;
}
.secao select, .secao input{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    padding: 15px;
    height:50px;
    width:11vw;
    border-radius: 20px;
    border:none;
    font-size:1.1rem
}
.q{
    display:flex;
    width: 75%;
    flex-direction:column;
}
.q input{
    display:flex;
    width:100%;
    
}
#peso{
    width: 80px;
    margin-top:20%;
}
.obs{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    margin-top:10px;
    height:100%;
    border-bottom:1px solid black;
    padding: 10px;

}
.observacoes{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width:100%;
    height:100%;
}
.observacoes textarea{
    width:90%;
    height:90%;
    padding: 10px;
    background-color: rgb(233, 231, 231);
    border: none;
    border-radius: 10px;
}
.btn{
    display:flex;
    width:100%;
    padding: 10px;
    align-items:center;
    justify-content: space-evenly;
}
.btn button{
    display:flex;
    width: 100px;
    height:30px;
    border-radius:10px;
align-items:center;
justify-content:center;
    
}
.cancelar{
    border: 1px solid var(--verde-sidebar);
    color: var(--verde-sidebar);
    transition: all 0.3s linear
}
.Salvarlote{
    background-color: green;
    color: white;
    border:none;   
    
}
.cancelar:hover{
    transition: all 0.3s linear;
    background-color: 
}