html {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #4c5043;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    animation: fundo 4s forwards;
    animation-delay: 1s;
}

@keyframes fundo {
    0% {
        background-color: #4c5043;
    }
    70% {
        background-color: #858b76;
    }
    79% {
        background-color: #f6ffe0;
    }
    100%{
        background-color: rgb(25, 27, 20);
    }
}

/* Container com perspectiva 3D */
.d {
    perspective: 1000px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0; 
    animation: sumir 1.2s forwards;
    
}

/* Card que vai girar e fazer a animação */
.card {
    width: 100vw;
    height: 100vh;
    position: relative;
    transform-style: preserve-3d;
    /* Animação completa: afastar + centralizar + circle + flip */
      animation: animacaoCompleta 7s forwards;
    border-radius:none;
}

@keyframes animacaoCompleta {
    /* FASE 1: Tela cheia, afastando lentamente (0% - 70%) */
    0% {
        width: 120%;
        height: 120%;
        transform: scale(1.7) rotateY(0deg);
        left:0;
    }
    40% {
        width: 110%;
        height: 110%;
        transform: scale(1.5) rotateY(0deg); /* Afastou bastante */

    }
    
    /* FASE 2: Centraliza e forma círculo (70% - 95%) */
    50% {
        width: 300px;
        height: 300px;
        transform: scale(1) rotateY(0deg);
        border-radius: 100%;
        box-shadow: 0 0 0 transparent;

        
    }
    
    /* FASE 3: Flip no final (95% - 100%) */
    60% {
        width: 300px;
        height: 300px;
        transform: scale(1) rotateY(180deg);
        border-radius: 100%;
        box-shadow: 0 0 0 white;
        left:0;

    }
    80%{
           width: 300px;
        height: 300px;
        transform: scale(1) rotateY(180deg);
        border-radius: 100%;
        box-shadow: 0 0 0 white;
        left:0;
      
    }
    100%{
        left: 110%;
        
    }
}

/* Lados do card */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

/* Frente do card (GIF) */
.flip-card-front {
    background-image: url("Design sem nome.gif");
    filter:contrast(1.2);
}

/* Verso do card (Logo) */
.flip-card-back {
    transform: rotateY(180deg);
    background-image: url("WhatsApp Image 2026-02-03 at 14.30.47.jpeg");
    border-radius: 100%;
     box-shadow: 0 0px 10px rgba(255, 255, 255, 0.829);
   
}

/* Borda circular só no verso (que é o que fica visível após o flip) */
.flip-card-front {
    border-radius: 100%;
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.829);
    
}

