@import url(./semente.css);

.dado {
    outline: none;
}

.l{
    margin-top: 50px;
}
.area {
    background-color: rgba(5, 70, 5, 0.821);
    color: white;
    max-width: 90%;
    min-width: 150px;
    width: 90%;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.336);
    display: flex;
    min-height: 85px;
    padding: 15px;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    gap: 10px;
    flex-wrap: wrap;
}

.area .dado {
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}

.area .infos {
    width: 50%;
    gap: 10px;

}

.infos .valor,
.infos select {
    width: 49%;
    height: 35px;
    border-radius: 10px;
    border: none;
    padding:10px;
}

.area .extensao {
    font-weight: 700;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.extensao {
    width: 50%;
    max-width: 100%;
    min-width: 150px;
    padding: 10px;
    white-space: nowrap;
}

.area .dado select {
    width: 50%;
    height: 100%;
    border: none;
    padding:15px;           
}
.dados .dado select{
height:100%;
width: 100%;
}

#obs{
    background-color: var(--verde-profundo);
    color: white;
    padding: 15px;
    width: 90%;
    min-height: 150px;
    resize: none;
    border: 1px solid rgb(10, 218, 10);
    border-radius: 10px;
    margin: 2px;
    outline: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
    font-weight:800;
}
#obs::placeholder{
    color: white;

}
.aceites{
    width: 90%;
    padding:10px;
}
.aceites button{
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight: 700;
    padding: 10px;
    box-shadow: -1px 2px 5px black;  
    transition: all 0.3s linear;
    height: 40px;
    width: 100%;
    white-space: nowrap;
}
button:hover{
cursor: pointer;
transition: all 0.3s linear
}
.aceites button:hover{
    font-size: 1.1rem
}
.cancelarr{
    border: 1px solid red
}
.aceitar{
    border: 1px solid green
}
.cancelarr:hover{
border: 2px solid red;
box-shadow: inset 0 0 180px rgb(91, 0, 0);
color: white
}
.aceitar:hover{
    border: 2px solid lightgreen;
    box-shadow: inset 0 0 180px rgb(24, 85, 24);
    color: white;
}
@media (max-width: 1260px) {
    .area {
        flex-direction: column;
    }

    .area .dado,
    .area .extensao {
        width: 100%;
    }

    .extensao .infos {
        flex-direction: row;

    }

    .infos {
        overflow: hidden;
        max-width: 100%;
    }
    .area .dado select{
        min-height: 60%;
        overflow: hidden;
    }
    .area .dado{
        overflow: hidden;
    }



}
@media (max-width: 640px) {
    .extensao{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: start;
        padding: 10px;
    }
    .extensao span, .extensao .infos{
        width: 100%;
    }
   
}
@media (max-width: 490px) {
    .area{
        min-height: 180px;
    }
    .area .dado{
        flex-direction: column;
        gap: 5px
    }
    .area .dado label{
        width:100%;
    }
    .dados .dado{
        flex-direction: column;
        gap: 10px;
    }
    .dados .dado label{
        width: 100%;
    }
    .dados .dado select{
        display:flex;
        width: 100%;
        
        height: 100%;
        align-items:center;
        justify-content: center;
        padding: 10px;
    }
    .dados .dado select option{
        font-size: 15px;
    }

}