@import url(./semente.css);

.agenda {
    z-indeX: 10;
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: center;
    padding: 15px;
    gap: 7%;
    height: 87vh;


}

.novaAgenda {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: rgb(2, 34, 12);
    background-color: rgb(214, 236, 214);
    border: 1px solid rgb(10, 53, 10);
    border-radius: 30px;
    width: 150px;
    font-weight: 800;
    font-size: 1.1rem;


}

.elements {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-around;
}


.titulo {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    font-size: 2.1rem;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.dados {
    font-size: 1.3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#data {
    height: 50px;
    font-size: 1rem;
}

input {
    font-size: 1rem;
}

.extensao {
    display: flex;
    width: 40%;
    background-color: var(--verde-sidebar);
    height: 120px;
    padding: 15px;
    color: white;
    flex-direction: column;
    gap: 15px;
    border-radius: 15px;
       box-shadow: 6px 6px rgba(1, 66, 26, 0.534);
}

.infos {
    display: flex;
    width: 100%;
    align-items: center;
}

.valor {
    display: flex;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    border: none;
    margin-right: 15px;
    padding: 15px;
}
#obs{
    display: flex;
    width:85%;
    min-height: 200px;
    padding: 20px;
    background-color: rgb(88, 129, 88);
    border: 2px solid rgb(12, 39, 12);
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: -50px;

}
textarea::placeholder{
    color: azure;
}
h3{
    font-size: 1.8rem;
}

@media (max-width: 850px) {
    .extensao{
        width:auto
    }

    
}
.btn{
    transition: all 0.3s linear;
    height: 30px
}
.btn:hover{
    transition: all 0.3s linear;
    filter: contrast(1.2);
    border-radius: 0;
    border: none;

}