.lote{  
    display:flex;
}

#identificacao{
    display:flex;
    width:100%;
}
.cad1{
    align-items:center;
    justify-content:flex-start;
    width:100% ;
}

@media (max-width: 550px) {
    label{
        font-size: 0.8rem;
    }
    
}
label{
    font-size: 1rem;
}

.aceites{
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    width:100%;
    gap: 30%;
    padding: 0 10%;

}
.btn{
    border-radius: 20px;
    font-weight: 700;

}
#cancel{
background-color: rgb(255, 255, 255);
}
#aceite{
    background-color: rgb(169, 233, 169);
}