@import url(./semente.css);
@import url(../home.css);

.item{
    background-color: var(--verde-profundo);
    color: white;
    font-weight: 700;
    border:none;
    min-width: 100px;
    width: 100%;
    height: 100%;
    margin: none;
    border-radius: 10px;


}
.dashboard{
    margin: 10px;
    display:flex;
    min-width: 90%;
    max-width: 90%;
    height: 50px;
    align-items:center;
    justify-content: space-around;
    gap: 20px;
}
.dado{
    display:flex;
    align-items: center;
    gap:20px;
    font-weight: 700;
    padding-left: 10px;
    border-radius: 15px;
    white-space: nowrap;
    min-height: 50px; 
    flex: 1;
      overflow-x: auto;
    
}
.dado input{
    min-width: 200px;
    flex: 1;
    height: 100%;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 3px 10px black;
    padding:10px;
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
  
}
.dados{
    display: flex;
    flex-direction: row;
    min-width:150px;
    width: 90%;
    gap:15px;
    padding: 20px;  
    box-shadow: -2px 4px 5px rgba(0, 0, 0, 0.375);
    background-color: rgba(29, 80, 29, 0.904);
    color: white;
    flex-wrap: wrap;
    border-radius: 15px;
    margin-top: 10px;
    overflow: hidden;

    
}
.envia{
    display: flex;
    max-width: 90%;
    width: 90%;
    align-items: center;
    justify-content: center;
    background-color: var(--verde-opcao);
    color: white;
    font-weight: 800;
    padding: 12px;
    height: 50px;
    transition: all 0.3s linear;
    border-radius: 0 0 20px 20px;
    border:none;
}
.envia:hover{
    font-size: 15px;
    text-shadow: 0 0 25px white;
    cursor: pointer
}

h3{
    display:flex;

    max-width: 90%;
    width: 90%;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black
}
.results{
    background-color: rgba(29, 80, 29, 0.904);  
    display:flex;
    gap: 15px;
    flex-direction: column;
    padding:10px;
    color: white;
    min-width:150px;
    width: 90%;
    max-width:90%;
    flex-wrap: wrap;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.results .dado{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    overflow-x: auto;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.438)   
}
.results .dado label{
    font-size: 16px;
}
.results .p input{
    width: 50%;
    flex: none
}
.results .p{
    display:flex;
    justify-content: space-between;
}

@media (max-width: 950px) {
    .results .dado input {
        max-width: 100%;
        width: 100%;
    }
}
@media (max-width: 1268px) {
    .dados {
        flex-direction: column;
        min-height: 190px;
    }
    .dados .dado{
        overflow: hidden;
        overflow-x: auto;
        max-width: 98%;
    }

}
@media (max-width: 600px){
    
}